body {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
  }

  .headfixed {
    position: fixed;
  }

  .homeheader {
    display: flex;
    justify-content: space-between;
    margin-left: 1px;

  }

  .homeheaderbg {
    background-color: rgb(241, 253, 241);
  }

  .homeheader img {
    width: 12%;
    height: 86px;
  }

  .homeheader>nav.headernav {
    display: flex;
  }

  .homeheader>nav.headernav li {
    margin-top: 28px;
    list-style-type: none;
    padding: 7px;

    font-size: 18px;
    margin-right: 30PX;
  }

  a.link {
    margin-right: 50px;
    text-decoration: none;
    padding: 1px;
    color: rgb(3, 36, 3);
  }

  a.link:hover {
    color: rgb(223, 28, 28);
  }



  .centered {

    position: absolute;
    text-align: center;
    color: white;
    top: 20%;
    left: 20%;
    right: 20%;
    line-height: 35px;


  }

  .section-container {
    display: flex;
    margin: 0px;
    color: white;
    text-align: left;
    line-height: 50px;

  }

  .secone {
    margin-top: 350px;
    padding-left: 200px;


  }

  .sectwo {
    margin-top: 350px;
    padding-left: 200px;

  }

  .secthree {
    margin-top: 350px;
    padding-left: 200px;


  }

  .centered>p {
    font-size: 20px;
    line-height: 50px;
  }

  .backgrdimg {
    height: 696px;
    background-size: cover;
    background-image: linear-gradient(rgba(62, 163, 62, 0.8), rgba(3, 3, 3, 0.8)), url("logo.jpeg");
  }

  .col-container {
    display: flex;
    line-height: 35px;
    background-color: lavenderblush;

  }

  .colone {
    width: 35%;
    padding: 100px;
    margin-left: 100px;
  }


  .coltwo {
    width: 35%;
    padding: 10px;
    margin-top: 100px;

  }

  .col-container p {
    font-size: 20px;
  }

  .col-container h1 {
    font-size: 40px;
  }

  img.colimg {
    width: 80%;
    height: 250px;
    border-radius: 50%;
  }

  .sectiontwo {
    background-color: lavender;
    text-align: center;
    padding-right: 300px;
    padding-left: 300px;
    padding-top: 100px;
    padding-bottom: 100px;
    line-height: 40px;
  }

  .sectiontwo p {
    font-size: 18px;
  }

  .nexttech {
    display: flex;
    line-height: 45px;
    background-color: lavenderblush;

  }

  .techone {
    width: 30%;
    padding: 100px;
    margin-left: 100px;

  }


  .techtwo {
    width: 50%;
    padding: 10px;
    margin-top: 100px;

  }

  .whyus {
    background-color: lightcyan;
    text-align: center;
    padding-right: 200px;
    padding-left: 200px;
    padding-top: 100px;
    padding-bottom: 100px;
    line-height: 40px;
  }

  .whyus p {
    font-size: 18px;
    text-align: justify;
  }

  .footer-container {
    display: flex;
    background-color: rgb(174, 252, 167);
    color: rgb(10, 39, 10);
    padding-left: 200px;
    padding-top: 60px;
    padding-bottom: 30px;

  }

  .footer-container li {
    list-style-type: none;
    line-height: 35px;
  }

  img.footerimg {
    width: 60%;
    height: 120px;
  }

  .footer-container p:hover {
    cursor: pointer;
  }

  .footerone {
    width: 20%;
    padding: 20px;
  }

  .footertwo {
    width: 20%;
    padding: 20px;
  }

  .footerthree {
    width: 15%;
    padding: 20px;
  }

  .footerfour {
    width: 20%;
    padding: 20px;
  }

  @media screen and (max-width: 600px) {
    .sectiontwo {
   
    padding-right: 50px;
    padding-left: 50px;
   
  }
  .techone {
    width: 30%;
    padding: 150px;
    margin-left: 5px;

  }
  .sectiontwo {
   
    padding-right: 00px;
    padding-left: 00px;
   
  }

  
    .whyus {
   
    padding-right: 10px;
    padding-left: 10px;
  
  }
    .footer-container {
      padding-left: 50px;
    }
  }